<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IChatService" />
                <binding name="WSDualHttpBinding_IGameService" />
                <binding name="WSDualHttpBinding_IMessageService" />
                <binding name="WSDualHttpBinding_IChatService1" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGroupService" />
                <binding name="WSHttpBinding_IYoutubeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ChatService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatService" contract="ChatProxy.IChatService"
                name="WSDualHttpBinding_IChatService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GameService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IGameService" contract="GameProxy.IGameService"
                name="WSDualHttpBinding_IGameService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GroupService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGroupService" contract="GroupProxy.IGroupService"
                name="WSHttpBinding_IGroupService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/MessageService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMessageService" contract="MessageProxy.IMessageService"
                name="WSDualHttpBinding_IMessageService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/ChatService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatService1" contract="ProfileProxy.IChatService"
                name="WSDualHttpBinding_IChatService1">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/YoutubeService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IYoutubeService" contract="YoutubeProxy.IYoutubeService"
                name="WSHttpBinding_IYoutubeService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>