@model MVCPresentationTier.ChatServiceReference.Chat
@{
    ViewBag.Title = "GetChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat page</title>
</head>
<body>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</body>
</html>
