@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <meta name="viewport" content="width=device-width" />
    <title></title>
    <div>
        <form action=@Url.Action("CreateProfile", "Profile") method="post">
            <p>@ViewBag.i</p>
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="nickname" placeholder="Nickname"/>
            <input type="text" name="email" placeholder="Email"/>
            <input type="text" name="password" placeholder="Password"/>
            <input type="submit" value="Create new profile" />
        </form>
    </div>

