<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WcfService.ChatService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.IChatService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ChatService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfService.MessageService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.IMessageService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MessageService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfService.ProfileService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.IProfileService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ProfileService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfService.YoutubeService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.IYoutubeService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/YoutubeService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfService.GameService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.IGameService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/GameService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WcfService.GroupService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfService.IGroupService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/GroupService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>