@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <meta name="viewport" content="width=device-width" />
    <title></title>
    <div>
        <form action=@Url.Action("CreateProfile", "Profile") method="post">
            <p><input type="text" name="username" placeholder="Username" /></p>
            <p> <input type="text" name="nickname" placeholder="Nickname" /></p>
            <p><input type="text" name="email" placeholder="Email" /></p>
            <p><input type="submit" onclick="checkingCreation()" value="Create new profile" /></p>
        </form>
        <script>
            function checkingCreation() {
            if(@ViewBag.i != -1)
                <p><b><font color="green">Succesfully created, please check your email for the password!</font></b></p>
            else
                <p><b><font color="red">Something went wrong, please check the introduced info!</font></b></p>
            }
        </script>
    </div>

