<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <wsDualHttpBinding>
                        <binding name="WSDualHttpBinding_IMessageService" />
                        <binding name="WSDualHttpBinding_IChatService" />
                        <binding name="WSDualHttpBinding_IYoutubeService" />
                        <binding name="WSDualHttpBinding_IGameService" />
                        <binding name="WSDualHttpBinding_IGroupService" />
                        <binding name="WSDualHttpBinding_IProfileService" />
                </wsDualHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost/ProfileService" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IProfileService"
                        contract="ProfileServiceReference.IProfileService" name="WSDualHttpBinding_IProfileService">
                        <identity>
                                <userPrincipalName value="TURAKAS\Turakas" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost/ChatService" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IChatService"
                        contract="ChatServiceReference.IChatService" name="WSDualHttpBinding_IChatService">
                        <identity>
                                <userPrincipalName value="TURAKAS\Turakas" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost/MessageService" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IMessageService"
                        contract="MessageServiceReference.IMessageService" name="WSDualHttpBinding_IMessageService">
                        <identity>
                                <userPrincipalName value="TURAKAS\Turakas" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost/YoutubeService" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IYoutubeService"
                        contract="YoutubeService.IYoutubeService" name="WSDualHttpBinding_IYoutubeService">
                        <identity>
                                <userPrincipalName value="TURAKAS\Turakas" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost/GroupService" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IGroupService"
                        contract="GroupServiceReference.IGroupService" name="WSDualHttpBinding_IGroupService">
                        <identity>
                                <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                        </identity>
                </endpoint>
                <endpoint address="http://localhost/GameService" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IGameService"
                        contract="GameServiceReference.IGameService" name="WSDualHttpBinding_IGameService">
                        <identity>
                                <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                        </identity>
                </endpoint>
        </client>
    </system.serviceModel>
</configuration>