<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMessageService" />
                <binding name="WSDualHttpBinding_IChatService" />
                <binding name="WSDualHttpBinding_IGameService" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProfileService" />
                <binding name="WSHttpBinding_IYoutubeService" />
                <binding name="WSHttpBinding_IGroupService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ChatService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatService" contract="ChatServiceReference.IChatService"
                name="WSDualHttpBinding_IChatService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GameService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IGameService" contract="GameServiceReference.IGameService"
                name="WSDualHttpBinding_IGameService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GroupService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGroupService" contract="GroupServiceReference.IGroupService"
                name="WSHttpBinding_IGroupService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/MessageService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IMessageService" contract="MessageServiceReference.IMessageService"
                name="WSDualHttpBinding_IMessageService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/ProfileService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IProfileService" contract="ProfileServiceReference.IProfileService"
                name="WSHttpBinding_IProfileService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/YoutubeService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IYoutubeService" contract="YoutubeService.IYoutubeService"
                name="WSHttpBinding_IYoutubeService">
                <identity>
                    <userPrincipalName value="DESKTOP-GOARNTN\bubri" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>