@{
    ViewBag.Title = "ChatRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat page</title>
</head>
<body>
    <div>
        <h2>@ViewBag.ChatId</h2>
        <h2>@ViewBag.ProfileId</h2>
        <select name="messages" multiple="multiple">
            <option value="test">message</option>
        </select>
    </div>
</body>
</html>

